name: Validate with HACS

on:
  push:
    paths:
      - "custom_components/solis_cloud_monitoring/**"
      - "hacs.json"
      - ".github/workflows/hacs.yml"
  pull_request:
    paths:
      - "custom_components/solis_cloud_monitoring/**"
      - "hacs.json"
      - ".github/workflows/hacs.yml"

jobs:
  hacs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration
