name: Validate with hassfest

on:
  push:
    paths:
      - "custom_components/solis_cloud_monitoring/**"
      - "hacs.json"
      - ".github/workflows/hassfest.yml"
  pull_request:
    paths:
      - "custom_components/solis_cloud_monitoring/**"
      - "hacs.json"
      - ".github/workflows/hassfest.yml"

jobs:
  hassfest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run hassfest
        uses: home-assistant/actions/hassfest@master
